@charset "UTF-8";
.logo {
	text-decoration: none;
	overflow: hidden;
}

header {
	border-bottom: 3px solid #00C2CF;
}

.nav-item {
	margin: 0 1rem;
}

.h-background {
	background-color: #FFF;
	overflow: hidden;
}

.heading {
	overflow:hidden;
}

.sub-heading {
	background-color: #ECECEC;
	padding: .5rem 0;
	vertical-align: middle;
}