@charset "UTF-8";
.logo {
	text-decoration: none;
	overflow: hidden;
}
@media only screen and (min-width: 20em) {
	.logo {
		padding: 1rem 3rem;
	}
}

header {
	border-bottom: 3px solid #00C2CF;
	position: relative;
}

.h-background {
	background-color: #FFF;
	overflow: hidden;
}

.heading {
	overflow:hidden;
}

.sub-heading {
	background-color: #ECECEC;
}

.nav a, 
.nav a:link,
.nav a:visited{
	padding: .75rem 0;	
	display: block;
	text-decoration: none;
	text-align:center;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	transition: all 150ms linear;	
	text-shadow: 1px 1px 0px rgba(256,256,256,.35);	
}

@media only screen and (min-width: 30em) {
	.nav a, 
	.nav a:link,
	.nav a:visited{
		padding:0;
		margin: 1rem;
		border-bottom: none;	
	}
}