@charset "UTF-8";
/* CSS Document */

.list-group {
	list-style-type:none;
}

.list-group {
	margin-bottom: 0;
	margin-top: 0;
}

.list-group-item:before {
	content: "";
}

.list-group-item {
	display:block;
/*	margin-bottom: .5rem; */
}
@media only screen and (min-width: 30em) {
	.list-group-item-inline {
		display: inline-block;
	}
}