@charset "UTF-8";

.media {
	overflow:hidden;
	border-right: 2px solid white;
}

.media-img {
	float:left;
}

.media-img-reversed {
	float: right;
	padding: 1rem;
}

.media-img-stacked {
	float:none;
	margin: 0;
}

.media-body {
	overflow: hidden;
	padding: 1rem;	
	background-color: rgba(236,236,236,.15);
}
