@charset "UTF-8";

.test {
	position:relative;
	bottom: 1rem;
}

.promo-large {
	display:block;
	margin: 0 auto;
	overflow:hidden;
}

.bucket-large:hover,
.bucket-large:focus,
.bucket-large:active {
	opacity: .85;
	transition: 150ms;
	background-color: rgba(236,236,236,0.1);
}