@charset "UTF-8";

/* Colors:

Aquamarine Torquise || RGB: 0, 194, 207 || Hex: #00C2CF (Brand Color, Hover-Over Color, Depleted Links, Topics/Headings)

Dark Grey Red || RGB: 178, 130, 130 || Hex: #B28282 (Live Links, Underline, Bullets)

Tertiary Greyed Torquise || RGB: 122, 208, 215 || Hex: #7AD0D7 (Depleted Links)
*/

html {
	font-family: 'Robot', sans-serif;
	font-weight: 100;
	font-size: 100%;
	line-height: 1.5rem;
}

body {
	display:block;
	width: 100%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, table {
	margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6, .multiverse, .universe,
.brand {
	font-family: 'Libre Baskerville', serif;
	color: #00C2CF;
}
	
.multiverse {
	font-size: 4.767rem;
	line-height: 1.0558;
 }

.universe {
	font-size: 3.814rem;
	line-height: 1.0723;
}

h1, .galaxy {
	font-size: 3.051rem;
	line-height: 1.0311;
}

h2, .starsystem {
	font-size: 2.441rem;
	line-height: 1.0311;
}

h3, .star {
	font-size: 1.953rem;
	line-height: 1.1278;
}

h4, .planet {
	font-size: 1.563rem;
	line-height: 1.0069;
}

h5, .organism {
	font-size: 1.25rem;
	line-height: 1.0069;
}

h6, .cell {
	font-size: 1rem;
	line-height: 1.2587;
}

small, .atom, caption { 
	font-size: .8rem;
	line-height: 1.1800;
}

.string {
	font-size: .64rem;
	line-height: 1.4750;
}

.top-none {
	margin: 0 0 auto 0;
}

.brand-type {
	font-family: 'Libre Baskerville', serif;
}

.brand-color {
	color: #00C2CF;
}

hr {
	border: solid 1px rgba(236,236,236,.50);
}

::selection {
	background-color: rgba(0,194,207,0.45);
	color: white;
}

a,
a:link {
	color: #B28282;
	text-decoration: none;
	border-bottom: .1em dashed rgba(178,130,130,.75) ;
	transition: all 100ms linear;
}

a:visited {
	color: rgba(0,194,207,0.0);
	border-bottom-color: rgba(0,194,207,1);
}

a:hover,
a:focus,
a:active {
	color: #00C2CF;
	border-bottom-color: #B28282;
}

mark {
	background-color: rgba(0,194,207,0.25);
}

em {
	font-style:italic;
}

sub, sup {
	line-height: 1rem;
}

strong {
	font-weight: 400;
}

blockquote {
	position: relative;
}

blockquote p:before {
	content: "“";
	color: rgba(0,194,207,0.5);
	position: absolute;
	top: .5em;
	left: -.5em;
	font-size: 5rem;
}

blockquote p:after {
	content: "”";
	color: rgba(0,194,207,0.5);
	position: relative;
	top: .5em;
	right: -.5em;
	font-size: 5rem;
}

.flex-img {
	width: 100%;
	display:block;
}

ul {
	padding: 0;
	list-style-type: none;
}

ul li {
	position: relative;
}

ul li:before {
	content: "∆";
	color: rgba(0,194,207,0.5);
	position: absolute;
	left: -2em;
}

dt {
	color: rgba(0,194,207,0.75);
	font-weight: 400;
}

th {
	color: rgba(0,194,207,0.5);
	font-weight: 400;
}

td {
	text-align: center;
	font-weight: 100;
}

th, td {
	width: 10rem;
	height: 2rem;
	padding: .5rem;
}

tr {
	border-bottom: 1px dotted #ECECEC;
}

table {
	border-collapse:collapse;
}

legend {
	font-size: 1.25rem;
	line-height: 1.0069;
	margin-bottom: .5rem;
}

.no-show {
	text-indent:-100%;
	white-space:nowrap;
	overflow:hidden;
	position:absolute;
}
