# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Sarah Knowles
- Alex Martin
- Megan Davis
- Kayla Araujo
- Mark Collantes 
- Grant Jeffery

## Tasks

1. Add Amethyst to Cart
2. Search for 'Agate' Add to Cart & Purchase
3. View Product info for Citrine

---

## Individual Results & Observations

### Sarah K (TAB)

- Well excecuted, no problems encountered

###Alex M (VOICE OVER)

- Need some main roles
-Chrome is a piece of shit!
- Good job otherwise

### Megan D (TAB)

- No probs.

### Kayla A(AUDIO)

- Sounds good, no issues
- Some pages do repeat their title, but that's it.

### Mark C (TAB)

- No problems encountered, performed without incident.

### Grant J (AUDIO)

- Everything seems just dandy.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- Roles were needed as indicated by Alex. Imediately amended upon completion.
- Voice over reiterates page titles and metadata.