# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Sarah Knowles
- Alex Martin
- 
- 
- 
- 			

## Tasks

1. Add Amethyst to Cart
2. Search for 'Agate' Add to Cart & Purchase
3. View Product info for Citrine

---

## Individual Results & Observations

### Sarah

- Well excecuted, no problems encountered

###Alex Martin

- Need some main roles
-Chrome is a piece of shit!
- Good job otherwise

### {Jordan Doe}

- {They completed the task as expected…}

### {Theresa Doe}

- {She completed the task as expected…}

### {Todd Doe}

- etc.

### {Taylor Doe}

- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.