---
layout: default
title: Home
showbanner: yes
bannertext: Hey There, Thanks for Stopping By!
meta-desc: Fire and Glass offers beautiful minerals and gems.
meta-keywords: home, fire and glass, minerals, gems, they're not rocks, crystals
---

	<h1 class="no-show">Fire and Glass Exquisite Minerals and Gems Home</h1>

	<div class="center-text unit-r unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
		<img class="flex-img" src="http://placehold.it/600x200" alt="Promotion">
		<h2>Hey There!</h2>
		<p>At Fire &amp; Glass we sell beautiful pieces from the Earth. Whether it's for jewellery or for your collection, we're sure to have the right crystal for you.</p>
	</div>
	
	<div class="promo-group">
	
		<div class="unit-s-1 unit-m-8-8 unit-l-6-8 unit-xl-6-8 promo-large">
			{% include promo-large.html promotitle="Upcoming Event" promodesc="2014 April 11-13: 57th Annual Rock and Gem Show in Portland, Oregon" alt="Mineral Show in Portland Oregon" %}
		</div>	
	
		<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8 promo-small">
			{% include promo-small.html promotitle="Citrine" promodesc="Sale! 50% off Citrine Specimens." img="citrine-geode-v1-1.jpg" alt="Citrine" %}
		</div>
		
		<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8 promo-small">
			{% include promo-small.html promotitle="Look at this Find" promodesc="This Quartz slice was recently acquired from a private collector." img="agate-slice-v1.jpg" alt="Quartz Slice" %}
		</div>
		
		<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8 promo-small">
			{% include promo-small.html promotitle="New Agate" promodesc="New Agate Tumbled Gems have arrived!" img="agate-gem-v2.jpg" alt="Agate Tumbled Gem" %}
		</div>
		
		<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8 promo-small">
			{% include promo-small.html promotitle="New Amethyst" promodesc="Some really wonderful Amethyst specimens have arrived. Check it out!" img="ameythst-v1-2.jpg" alt="Amethyst Tumbled Gems" %}
		</div>	
		
	</div>