---
layout: default
title: Fire and Glass Home
showbanner: no
bannertext: oherro
---

<h1 class="no-show">Fire and Glass Exquisite Minerals and Gems Home</h1>

	<div class="center-text unit-r unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
		<img class="flex-img" src="http://placehold.it/600x200" alt="Promotion">
		<h2>Hey There!</h2>
		<p>At Fire &amp; Glass we sell beautiful pieces from the Earth. Whether it's for jewellery or for your collection, we're sure to have the right crystal for you.</p>
	</div>
	
	<div class="promo-group">
			{% include promo-small.html promotitle="Fulgrite" promodesc="Zeus's Wrath" img="pteranodon.jpg" alt="Fulgrite" %}
			{% include promo-small.html promotitle="Amethyst" promodesc="Dionysus's Power" img="archeopteryx.jpg" alt="Fulgrite" %}
			{% include promo-small.html promotitle="Pyrite" promodesc="Fool's Gold" img="rhamphorhynchus.jpg" alt="Pyrite" %}
			{% include promo-small.html promotitle="Citrine" promodesc="Sale! 50% off Citrine Specimens." img="50-off.svg" alt="Citrine" %}
	</div>
