---
layout: default
---

<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8"> 

	<section id="category">
		<div>
			<input class="container-input" id="min-category" name="mineral-type" type="checkbox" checked /> <!-- ================================ Category ======== -->
			<label class="container-label" for="min-category">Filter</label>
			<article class="min-category container-article">
				<div>
					<section class="item"> <!-- ================================ Item 1 ======== -->
						<form class="cell quaternary"  name="Color" id="Color" action="" method="">
							<table>
								<thead>
								  <tr>
								  	<td>
										<h3 class="organism quaternary">Class Type</h3>
									</td>	
								  </tr>
								</thead>
								<tbody>
									{% include filter-form.html name="mineral" filtername="Mineral" %}
									{% include filter-form.html name="gem" filtername="Gem" %}
									{% include filter-form.html name="fossil" filtername="Fossil" %}
									{% include filter-form.html name="geode" filtername="Geode" %}
								
									<tr>
										<td>
											<h3 class="organism quaternary">Color</h3>
										</td>
									</tr>
								
									{% include filter-form.html name="red" filtername="Red" %}
									{% include filter-form.html name="orange" filtername="Orange" %}
									{% include filter-form.html name="yellow" filtername="Yellow" %}
									{% include filter-form.html name="green" filtername="Green" %}
									{% include filter-form.html name="blue" filtername="Blue" %}
									{% include filter-form.html name="purple" filtername="Purple" %}
									{% include filter-form.html name="white" filtername="White" %}
									{% include filter-form.html name="black" filtername="Black" %}

									<tr>
										<td>
											<h3 class="organism quaternary">Price</h3>
										</td>
									</tr>
								
									{% include filter-form.html name="low" filtername="$1-25" %}
									{% include filter-form.html name="med" filtername="$25-100" %}
									{% include filter-form.html name="high" filtername="$100-250" %}
									{% include filter-form.html name="makeitrain" filtername="$250 and up" %}
								</tbody>
							</table>	
						</form>

							<div class="buy unit-s-1 unit-m-1 unit-l-1 unit-xl-1">
								<a class="cell" href="#">Apply Filter</a>
							</div>				

					</section>	
				</div>
			</article>
		</div>		
	</section>

</div>

	{% include product-list-item.html name="Amethyst" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99" link="/market/gem/amethyst.html"%}
	{% include product-list-item.html name="Citrine" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99" link="/market/geode/citrine.html"%}
	{% include product-list-item.html name="Smoky Quartz" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99" link="/market/gem/amethyst.html"%}
	{% include product-list-item.html name="Fluorite" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99" link="/market/gem/amethyst.html"%}
	{% include product-list-item.html name="Amethyst" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99" link="/market/gem/amethyst.html"%}
	