---
layout: default
---

	{% include product-list-item.html name="Amethyst" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99" link="market/gem/amethyst.html"%}
	{% include product-list-item.html name="Citrine" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99"%}
	{% include product-list-item.html name="Smoky Quartz" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99"%}
	{% include product-list-item.html name="Fluorite" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99"%}
	{% include product-list-item.html name="Amethyst" img="ameythst-v1-2.jpg" desc="Dionysus's Power" price="4.99"%}
	