# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Alex Martin
- Kayla Tomkiewicz
- 

## Tasks

1. Search for Amethyst, add to cart, and Purchase
2. Find the specific weight of Citrine
3. Organize Products by showing Gems only

---

## Individual Results & Observations

### Alex Martin

- Initial pause identifying Proceed to Checkout button

### Kayla Tomkiewicz

- Had initial pause to identify Market page
- Meta/Titles need to be updated

### Sarah Knowles

- Initial pause identifying Proceed to Checkout button

---

## Trends

- Proceed to Checkout button needs to be highlighted & given greater hierarchy

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- Proceed to Checkout button needs to be highlighted & given greater hierarchy

### Minor, Annoying, Won’t Hinder Completion

- Page titles need to be updated