---
layout: default
---

	<div class="promo-group">
	
		<div class="gutter unit unit-s-1 unit-m-33 unit-l-33">
			{% include promo-small.html title="Fulgrite" desc="Zeus's Wrath" img="pteranodon.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-33 unit-l-33">
			{% include promo-small.html title="Amethyst" desc="Dionysus's Power" img="archeopteryx.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-33 unit-l-33">
			{% include promo-small.html title="Pyrite" desc="Fool's Gold" img="rhamphorhynchus.jpg" %}
		</div>
		
	</div>