	<div class="product  unit unit-s-1 unit-m-4-8 unit-l-33 unit-xl-2-8">
		<div class="media">
			<div class="media-img-stacked">
					<a href="index.html"><img class="flex-img" src="{{site.baseurl}}/images/{{market.image}}" alt="Amethyst"></a>
			</div>
			
			<div class="media-body">
				<h2 class="cell product-name"><a href="#">{{market.title}}</a></h2>
				<p class="atom bottom-none">{{market.desc}}</p>
				<p class="price brand-type planet bottom-none">${{market.price}}</p>
				<p class="new bottom-none brand-type">{{market.tag}}</p>
			</div>
			
			<div class="buy">
				<a class="cell" href="#">Add to Cart</a>
			</div>
		</div>
	</div>
