@charset "UTF-8";
.logo {
	text-decoration: none;
	overflow: hidden;
}
@media only screen and (min-width: 20em) {
	.logo {
		padding: 1rem 3rem;
	}
}

header {
	border-bottom: 3px solid #ECECEC;
	position: relative;
	overflow: hidden;
}

.nav-bar,
.search {
	overflow:hidden;
	background-color: rgba(236,236,236,.15);
	display: block;
}

.nav a, 
.nav a:link,
.nav a:visited{
	padding: .75rem 0;	
	display: block;
	text-decoration: none;
	text-align:center;
	border-bottom: .1em dashed rgba(178,130,130,.75) ;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	transition: all 150ms linear;	
	text-shadow: 1px 1px 0px rgba(0,0,0,.20);	
	border-bottom-color: #B28282;
}

@media only screen and (min-width: 30em) {
	.nav a, 
	.nav a:link,
	.nav a:visited{
		padding:0;
		margin: 1rem;
		border-bottom: none;	
	}
}

.current {
	font-weight: 400;
	cursor:default;
	background-color: rgba(122,208,215,.50);
}

.banner {
	background: #7AD0D7 url("{{site.baseurl}}/images/banner.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
	padding: 5rem 1rem 1rem;
}

.banner h2{
	color: #00C2CF;
}