@charset "UTF-8";

.promo-small {
	background-color: rgba(236,236,236,0.1);
	margin-bottom: 1rem;
	opacity: .75;
	display:block;
	margin: 0 auto;
	width: 25%;
}

.promo-small:hover,
.promo-small:focus,
.promo-small:active {
	opacity: 1;
	transition: 150ms;
}