<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Header</title>
<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>

<body>
	<header class="heading"> <!-- ============================== Header ============================== -->
		<div class="unit unit-s-1 unit-m-4-8 unit-l-3-8 unit-xl-2-8">
			<div class="logo">
				<a href="#home"><img class="flex-img" src="{{site.baseurl}}/images/logo.svg" alt="Fire and Glass Logo"></a>
	 			<h1 class="no-show">Fire &amp; Glass</h1>
			</div>
		</div>
		
		<div class="nav-bar unit unit-s-1 unit-m-5-8 unit-l-3-8 unit-xl-4-8">
			<nav class="nav cell">
				<ul class="list-group">
					<li class="list-group-item list-group-item-inline no-decor"><a class="" href="index.html">Home</a></li>
					<li class="list-group-item list-group-item-inline no-decor"><a class="" href="index.html">Gem Market</a></li>
					<li class="list-group-item list-group-item-inline no-decor"><a class="" href="index.html">Contact</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="search unit unit-s-1 unit-m-3-8 unit-l-2-8 unit-xl-2-8">
			<form>
				<fieldset>
					<div class="search-inline">
						<input type="search" placeholder="Lookin' for something?">
						<button type="submit" class="btn">Find it</button>
					</div>
				</fieldset>
			</form>	
		</div>
	</header> 
	
	{{content}}

	<footer class="footer cell"> <!-- ============================== Footer ============================== -->
		<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8">
			<ul>
				<li class="foot-item list-group-item"><a class="" href="index.html">Home</a></li>
				<li class="foot-item list-group-item"><a class="" href="index.html">Gem Market</a></li>
				<li class="foot-item list-group-item"><a class="" href="index.html">Contact</a></li>
			</ul>
		</div>
			
		<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8">
			<ul>
				<li class="foot-item list-group-item"><a class="" href="index.html">Fire &amp; Glass News</a></li>
				<li class="foot-item list-group-item"><a class="" href="index.html">About Us</a></li>
				<li class="foot-item list-group-item"><a class="" href="index.html">E-Mail Sign Up</a></li>
			</ul>
		</div>
		
		<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8">
			<ul>
				<li class="foot-item list-group-item"><a class="" href="index.html">Facebook</a></li>
				<li class="foot-item list-group-item"><a class="" href="index.html">Instagram</a></li>
				<li class="foot-item list-group-item"><a class="" href="index.html">Twitter</a></li>
			</ul>
		</div>

		<div class="unit unit-s-1 unit-m-4-8 unit-l-2-8 unit-xl-2-8">
			<form>
				<fieldset>
					<div class="search-inline">
						<input type="search" placeholder="Lookin' for something?">
						<button type="submit" class="btn">Find it</button>
					</div>
				</fieldset>
			</form>	
		</div>
	
		<div class="unit unit-s-1 string copyright"> 
			<p>© 2014 Fire &amp; Glass. All Rights Reserved. Dammit Marie, they're not rocks, they're minerals!</p>
		</div>
	</footer>
</body>
</html>
