---
layout: default
title: Home
showbanner: yes
bannertext: Hey There, Thanks for Stopping By!
meta-desc: Fire and Glass offers beautiful minerals and gems.
meta-keywords: home, fire and glass, minerals, gems, they're not rocks, crystals
---
<h1> Products </h1>

<ul>
	{% for products in site.pages %}
	    {% if products.id == 'product' %}
			<li>
				<div class="product  unit unit-s-1 unit-m-4-8 unit-l-33 unit-xl-2-8">
					<div class="media">
						<div class="media-img-stacked">
								<a href="index.html"><img class="flex-img" src="http://placehold.it/256x256" alt="Amethyst"></a>
						</div>
						
						<div class="media-body">
							<h2 class="cell product-name"><a href="index.html">{{products.title}}</a></h2>
							<p class="atom bottom-none">{{products.desc}}</p>
							<p class="price brand-type planet bottom-none">${{products.price}}</p>
						</div>
						
						<div class="buy">
							<a class="cell" href="#">Add to Cart</a>
						</div>
					</div>
				</div>
			</li>
		{% endif %}
	{% endfor %}
</ul>		